<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="csrf-token" content="{{csrf_token}}">
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
	{% block extra_headers %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<style>
	div.copyrite {
		font-size: 12px;
		text-align: center;
	}
	</style>
</head>
<body>
	{% block content %}{% endblock %}
	{% block footer %}
	{% endblock %}
	<!-- scripts -->
	<script src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	{% block extra_scripts %}{% endblock %}
	<hr />
	<div class="copyrite">
		<p>Thanks For Visting</p>
	</div>
</body>
</html>